footer.base-footer
  .base-footer-crumbs
    .base-footer-crumbs__list
      span TOP
      span /
      span ABOUT
    button
      include ../assets/svg/icon_top.svg
  .base-footer-nav
    .base-footer-nav__list
      a(href="#") トップページ
      a(href="#") フィリップスタインについて
      a(href="#") コレクション
      a(href="#") お取り扱い店舗
      a(href="#") よくある質問
      a(href="#") コラム・特集
      a(href="#") 新着情報
      a(href="#") 転売禁止について
      a(href="#") 特定商取引法に基づく表記
      a(href="#") お問合せ
    .base-footer-buttons
      a.base-footer-buttons__item(href="#")
        span ログイン/登録
        include ../assets/svg/icon_user.svg
      a.base-footer-buttons__item(href="#")
        span ログイン/登録
        include ../assets/svg/icon_user.svg
  .base-footer-bottom
