.parts-card
  .parts-card__thumbnail
    img.parts-card__thumbnail__image(src="./images/top/news_dummy.jpg")
  time.parts-card__date 2022.11.29
  h3.parts-card__title ゴルフ我流道様のYouTubeチャンネルにて、スリープブレスレットをご紹介いただきました。
  .parts-card__category
    p.parts-card__category__item SLEEP
    p.parts-card__category__item LIFE STYLE
