html
  --color-beige-100: rgba(209,203,199,1)
  --color-beige-200: rgba(202,195,191,1)
  --color-beige-300: rgba(190,181,175,1)
  --color-black-100: rgba(26,26,26,1)
  --color-navy-100: rgba(7,27,53,1)
  --color-white-200: rgba(247,247,247,1)
  --color-white-100: rgba(255,255,255,1)
  --select-fill-color: var(--color-navy-100)
  --select-text-color: var(--color-white-100)