@function fvw($fs: 14, $base: 1366)
  $no_unit_size: calc($fs / ($fs * 0 + 1px))
  $base_size: calc(100 / $base)
  @return $base_size * $no_unit_size * 1vw

@function base-vw-num($fs: 14, $base: 1366)
  $no_unit_size: calc($fs / ($fs * 0 + 1px))
  $base_size: calc(100 / $base)
  @return $base_size * $no_unit_size * 1vw

$family: "Yu Gothic Medium", "Yu Gothic", YuGothic,'A+EqpB-游ゴシック体 Pr6N M', selif
$family-bodoni: ltc-bodoni-175, $family
$family-bio: bio-sans, $family
$family-bilo: bilo, $family
$weightMap: (regular: 400,book: 400,medium: 500,bold: 700,black: 900) 

=text($fs:14rem, $weight:regular,  $fam:$family)
  font-size: $fs
  font-family: $fam
  font-weight: map-get($weightMap, $weight)
  line-height: 1
  @if $fam == $family
    letter-spacing: -0.02em
